<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Waiters Web-app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/style.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12-md">
                <h2>Waiter Web</h2>
            </div>
        </div>


        <div class="checkboxes">
            <div class="row">

            </div>
        </div>


    </div>




</body>




</html>