<!DOCTYPE html>
<html>

<body>

        <div class="row">
            <div class="col-12-md">
                <h2>Waiter Web</h2>
            </div>
        </div>
        <form action="/waiter/:{{user}}" method='post'>
         <div class="row">
            <div class="col-12-md input">
                {{#each displayDays}}
                <input type="checkbox" value="{{id}}" aria-label="Checkbox for following text input">{{days_of_week}}</input>
                {{/each}}
            </div>
        </div>
        <button type="submit">Submit</button>
        </form>


       






</body>




</html>