<!DOCTYPE html>
<html>

<body>

    <div class="row">
        <div class="col-12-md">
            <h2>Waiter Web</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12-md input">
            <table>
                <tbody>
                    {{#each displayDays}}

                    <td>
                        <th>{{days_of_week}}</th>
                        <tr>{{waiter_name}}</tr>
                    </td>
                    {{/each}}

                </tbody>

            </table>

        </div>
    </div>
    </form>









</body>




</html>