<!DOCTYPE html>
<html>

<body>

    <div class="row">
        <div class="col-12-md">
            <h2>Waiter Web</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12-md input">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    {{#each shifts}}
                    <th>
                        {{day}}
                    </th>
                    {{/each}}
                </tr>
                </thead>
                <tr>
                    {{#each shifts}}
                    <td class="bg-primary">
                        <ul class="waiter-list">
                            {{#each waiters}}
                                <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </td>
                    {{/each}}
                </tr>

            </table>

        </div>
    </div>
    </form>









</body>




</html>