<!DOCTYPE html>
<html>

<body>
    <br>
    <div class="shifts">
        <div class="row justify-content-md-center">
            <div class="col-12-md">
                <h2>Waiter Web</h2>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12-md input">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            {{#each shifts}}
                            <th>
                                {{day}}
                            </th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tr>
                        {{#each shifts}}
                        <td class="{{status}}">
                            <ul class="waiter-list">
                                {{#each waiters}}
                                <li>{{this}}</li>
                                {{/each}}
                            </ul>
                        </td>
                        {{/each}}
                    </tr>

                </table>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-10-md">
                <div class="delete">
                    <span class="delete">{{messages.delete}}</span>
                </div>
            </div>
        </div>


        <!-- Button trigger modal -->
        <div class="row justify-content-md-center">
        <div class="col-7-md">
<button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#exampleModal">
  Clear
</button>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure, you want to clear the shifts table?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="/days" method="post">
        <button type="submit" class="btn btn-danger">Clear</button>
        </form>
      </div>
    </div>
  </div>
</div>








        <br>

        <div class="row justify-content-md-center">
            <div class='my-legend col--12-md'>
                <div class='legend-title'>Current staff per day on shift</div>
                <div class='legend-scale'>
                    <ul class='legend-labels'>
                        <li><span style='background:#FF9A00;'></span>Not enough waiters</li>
                        <li><span style='background:#20C300;'></span>All good</li>
                        <li><span style='background:#ff3300;'></span>Too many waiters</li>
                        <li><span style='background: #959595;'></span>No waiters</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    











</body>




</html>