<br>
<br>
<br>
<div class="color justify-content-md-center">
<div class="row justify-content-md-center" >
    <div class="col-12-md">
        <br>
        <br>
        <h2>Please login</h2>
        <br>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-12-md">
        <form action="/waiters">
            <input class="form-control mb-2 " type="text" name="user" placeholder="Please enter a waiters name">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
    </div>
</div>
</div>