<!DOCTYPE html>
<html>

<body>

    <div class="row">
        <div class="col-12-md">
            <h2>Waiter Web App</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12-md input">
            <h5>Please enter a waiters name</h5>
           <form action="/waiters" >
          <input type="text" name="user">
          <button type="submit">Add</button>
          </form>
        </div>
    </div>

</body>


</html>